@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");






@media screen and (max-width: 768px) {
  .margin {
    height: 40vh;
  }
  .hero {
    background-position: right;
   
    height: 80vh;
  }
  .hero .row {
    width: 100%;
  }
}
.primary-btn {
  background-color: #1eb2a6;
  color: #fff;
}
